{{/*
TEMPLATE: next/no_task.tmpl
PURPOSE: Shown when no tasks are currently available

EXAMPLE OUTPUT:
  No Tasks Available
  Reason No tasks are currently ready (dependencies not satisfied)

  Location
  Festival /path/to/festival
  Phase    001_PLANNING
*/}}
{{.Header}}
{{- if .ReasonLine}}
{{.ReasonLine}}
{{- end}}
{{- if .LocationSection}}

{{.LocationSection}}
{{- end}}
